@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --table-row-background-color: rgb(203, 202, 202);
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  max-width: 1400px;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
